.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .genre {
    background: linear-gradient(135deg, #f89e00, #dd395f);
    padding: 7px 12px;
    font-size: 0.8rem;
    line-height: 1;
    border-radius: 999px;
    color: #fff;
    white-space: nowrap;
    box-shadow: 0 2px 10px #f89e00;
  }
}
